html,
body {
    height: 100%;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
    color: black;
}

h3 {
    font-size: 1.1em;
}

td form {
    margin: 0;
    padding: 0;
    margin-top: -.25em;
}

body {
    background-color: #D9D9D9;
}

.form-label {
    color: black;
}

.table1 {
    color: #D9D9D9;
    background-color: #D9D9D9;
}

.text-big {
    font-size: 30;
}

.button-fixed-width {
    width: 150px;
}

.button-link {
    padding: 0;
}

.invalid-feedback {
    display: block;
}

.w-10 {
    width: 10% !important;
}

.my-navbar {
    background-color: #161b35 !important;
}

.my-navbar .link a:hover {
    text-decoration: underline;
}

.my-navbar .logo {
    width: 26px;
    height: 26px;
}

.my-footer {
    background-color: #000000;
    height: 32px;
    color: rgb(255, 255, 255);
}

.card {
    border-radius: 20px !important;
}

.card-img-top {
    border-radius: 20px !important;
}

.cart-image {
    width: 3.1rem;
    padding: 0.25rem;
    border-radius: 0.7rem;
}

.cart-item {
    height: auto;
}

.inline-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.popularity-icon {
    top: 10px;
    background-color: #fff1cb;
    font-size: 1.8em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.card {
    max-width: 350px;
    justify-content: end;
}