<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Главная страница</title>
</head>

<body>
    <main layout:fragment="content">
        <div>
            <a class="btn btn-primary">Мои видео</a>
        </div>
        <div>
            <a class="btn btn-primary">Мои комментарии</a>
        </div>
        <div>
            <a class="btn btn-primary">Понравившиеся видео</a>
        </div>
    </main>
</body>

</html>