<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Понравившиеся</title>
</head>

<body>
    <main layout:fragment="content">
        <th:block th:switch="${items.size()}">
            <h2 th:case="0">Данные отсутствуют</h2>
            <th:block th:case="*">
                <h2>Понравившиеся видео</h2>
                <div style="display: flex; flex-wrap: wrap;">
                    <div th:each="like : ${items}" style="padding: 10px 10px 10px 10px; justify-content: center;">
                        <div th:text="${like.title}" style="color: black;"></div>
                        <div>
                            <img src="https://static.tildacdn.com/tild6635-3637-4461-b131-303637663064/maxresdefault.jpg"
                                alt="IMAGE" width="300" />
                            <div style="display: flex; justify-content: center;">
                                <form th:action="@{/video/dislike2/{id}(id=${like.videoId}, page=${page})}"
                                    method="post">
                                    <button type="submit" class="btn btn-dark"
                                        onclick="return confirm('Вы уверены?')">Удалить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:replace="~{ pagination :: pagination (
                                            url=${'video/like'},
                                            totalPages=${totalPages},
                                            currentPage=${currentPage}) }" />
        </th:block>
    </main>
</body>

</html>