<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Редактировать видео</title>
</head>

<body>
    <main layout:fragment="content">
        <form action="#" th:action="@{/video/edit/{id}(id=${video.id})}" th:object="${video}" method="post">
            <input type="text" th:value="*{id}" id="id" class="form-control" readonly disabled hidden>
            <input type="number" th:field="*{userId}" id="userId" class="form-control" readonly hidden>
            <div class="mb-3">
                <label for="name" class="form-label">Название видео</label>
                <input type="text" th:field="*{title}" id="title" class="form-control">
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Описание видео</label>
                <input type="text" th:field="*{description}" id="description" class="form-control">
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback">
                </div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Изображение видео</label>
                <input type="text" th:field="*{image}" id="image" class="form-control">
                <div th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Ссылка на видео</label>
                <input type="text" th:field="*{vid}" id="vid" class="form-control">
                <div th:if="${#fields.hasErrors('vid')}" th:errors="*{vid}" class="invalid-feedback"></div>
            </div>
            <div class="mb-3 d-flex flex-row">
                <button class="btn btn-primary me-2 button-fixed-width" type="submit">Сохранить</button>
                <a class="btn btn-secondary button-fixed-width" href="/admin/video">Отмена</a>
            </div>
        </form>
    </main>
</body>

</html>